 body {
   /* margin: 20px; */
   background-color: lightgray;
 }

 /* .sub-container{
 text-align: center;
}

.heading{
  color: rgb(65, 235, 31);
  font-size: large;
}

.btn{
  background-color: aqua;
  font-size: 20px;
  border-radius: 10px;
}
.note-area{
  width: 150px;
  height: 150px;
  border: 2px solid red;
  
} */

 .sub-containter {
   text-align: center;
 }

 input {
   background-color: rgb(13, 216, 206);
   width: 160px;
   height: 20px;
   border-radius: 5px;
   color: white;
   font-size: larger;
 }

 button {
   background-color: #dd2626;
   height: 30px;
   border-radius: 10px;
 }


 .text-container {
   width: 150px;
   border: 2px solid red;
   border-radius: 10px;
 }

 .text-container button {
  
 }